.section{
    display: flex;
    align-items: center;
    padding: 15px;
    min-width: 200px;
    color: gray;
    cursor: pointer;
    border-width: 0 !important;

    h4{
        margin-left: 15px;
        font-size: 14px;
    }
}

.section--active{
    background-color: whitesmoke;
    border-width: 2px !important;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 2px !important;
}